<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="information-table">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `information-table`
     * Information Table
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InformationTable extends Polymer.Element {
      static get is() { return 'information-table'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'information-table'
          }
        };
      }
    }

    window.customElements.define(InformationTable.is, InformationTable);
  </script>
</dom-module>
