<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="information-table">
  <template>
    <style>
      :host {
        display: block;
      }
      .tab{
        display:inline-flex;
        width:100%;
        justify-content:center;
        border:0;
      }
      .content{
        border:0px;
        font-size:16px;
        width: 100%;
        display:block;
        justify-content: space-around;
        align-items: center;
      }
      .content h2{
        text-align:center;
        font-size:20px;
      }
      .table{
        width: 100%;
        height: 200px;
        border: 1px solid #9E9E9E;
        border-collapse: collapse;
      }
      th, td {
        border: 1px solid #9E9E9E;
        background:#9E9E9E;
        display:table-cell;
        text-align:center;
        vertical-align:middle;
      }
      thead{
        height:5%;
      }
      body{
        height:95%;
      }
      .table thead th:first-child{
        padding-left:20px;
        text-align:left;
        width: 33%;
      }
      .table thead th:first-child+th{
        width: 34%;
        text-align:center;
      }
      .table thead th:first-child+th+th{
        width: 33%;
        padding-right:20px;
        text-align:right;
      }
    </style>
    <!-- <h2>Hello [[prop1]]!</h2> -->
    <section class="tab">
      <article class="content">
        <h2>{{title}}</h2>
        <table class="table">
          <thead>
            <tr>
              <th>{{thead1}}</th>
              <th>{{thead2}}</th>
              <th>{{thead3}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </article>
    </section>
  </template>

  <script>
    /**
     * `information-table`
     * Information Table
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InformationTable extends Polymer.Element {
      static get is() { return 'information-table'; }
      static get properties() {
        return {
          title: {
            type: String,
            value: 'Transactions',
            readOnly: true
          },
          thead1: {
            type: String,
            value: 'Date'
          },
          thead2: {
            type: String,
            value: 'Description'
          },
          thead3: {
            type: String,
            value: 'Amount'
          }
        };
      }
    }

    window.customElements.define(InformationTable.is, InformationTable);
  </script>
</dom-module>
